<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139005177481-iqhn3322osp84jd7ce99h59jha7hl6m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139005177481-iqhn3322osp84jd7ce99h59jha7hl6m9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>139005177481-1c0i993gpqt70bhdccdjcthiosurnqli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw1RAwb2Ly2dIC_Jro2tvANn5bWFUZ2MM</string>
	<key>GCM_SENDER_ID</key>
	<string>139005177481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marathonsystems.mehaleyeios</string>
	<key>PROJECT_ID</key>
	<string>mehaley-f1f15</string>
	<key>STORAGE_BUCKET</key>
	<string>mehaley-f1f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139005177481:ios:a8508708fff6f6fd4b2058</string>
</dict>
</plist>