<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057243143883-i9klaoq27s3hm0on3pipklof3ooenml4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057243143883-i9klaoq27s3hm0on3pipklof3ooenml4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057243143883-08pf4viljfr9p052av43f2sg458mh0um.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArvrFRQxLnCtKRHYtQ0QRxKBK0miq_dVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1057243143883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elfPlay</string>
	<key>PROJECT_ID</key>
	<string>elfplay-cc918</string>
	<key>STORAGE_BUCKET</key>
	<string>elfplay-cc918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057243143883:ios:2801ef206c69d04b6f054e</string>
</dict>
</plist>